.page {
	width: 100vw;
	min-height: 100vh;
	background-image: url("../images/assets/home/background-home-mobile.jpg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	border: 1px dashed transparent;
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 48px;
	padding: 0px 24px;
}
.intro-text {
	display: flex;
	flex-direction: column;
}
.intro-text span {
	text-align: center;
	min-width: 327px;
}
.intro-text__what {
	font-family: "Barlow Condensed";
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 2.7px;

	color: #d0d6f9;
}
.intro-text__keyword {
	font-family: "Bellefair";
	font-size: 80px;
	line-height: 100px;

	margin-top: 16px;
	margin-bottom: 16px;
}
.intro-text__description {
	font-family: "Barlow";
	font-size: 15px;
	line-height: 25px;

	color: #d0d6f9;
}

.explore-button {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	justify-content: center;
	background-color: white;

	text-decoration: none;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 80px;
}
.explore-button__text {
	text-transform: uppercase;
	color: #0b0d17;
	font-family: "Bellefair";
	font-size: 20px;
	line-height: 23px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 1.25px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
	.page {
		width: 100vw;
		height: 100vh;
		background-image: url("../images/assets/home/background-home-tablet.jpg");
		background-size: cover;
	}
	.content-wrapper {
		flex-direction: column;
		align-items: center;
		margin-top: 106px;
		padding: 0px 175px;
	}
	.intro-text__what {
		font-size: 20px;
		line-height: 24px;
		/* identical to box height */

		letter-spacing: 3.375px;
	}
	.intro-text__keyword {
		font-weight: normal;
		font-size: 150px;
		line-height: 150px;
	}
	.intro-text__description {
		font-size: 16px;
		line-height: 28px;
		max-width: 445px;
	}
	.explore-button {
		width: 242px;
		height: 242px;
	}
	.explore-button__text {
		font-size: 32px;
		line-height: 37px;
		/* identical to box height */

		letter-spacing: 2px;
	}
}

/* For desktop: */
@media only screen and (min-width: 992px) {
	.page {
		width: 100vw;
		height: 100vh;
		background-image: url("../images/assets/home/background-home-desktop.jpg");
		background-size: 100vw calc(0.625 * 100vw);
	}
	.content-wrapper {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 251px;
		padding: 0px 175px;
	}
	.intro-text {
		align-items: flex-start;
		text-align: left;
		justify-content: flex-start;
	}
	.intro-text span {
		text-align: left;
	}
	.intro-text__what {
		font-size: 28px;
		line-height: 34px;
		/* identical to box height */

		letter-spacing: 4.725px;
	}
	.intro-text__keyword {
		font-size: 150px;
		line-height: 172px;
	}
	.intro-text__description {
		font-size: 18px;
		line-height: 32px;
		max-width: 445px;
	}
	.explore-button {
		width: 274px;
		height: 274px;
	}
	.explore-button__text {
		font-size: 32px;
		line-height: 37px;

		letter-spacing: 2px;
	}
}
