.main-header {
	margin-top: 24px;
}
.main-navigation {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 24px;
}
.logo {
	width: 40px;
	height: 40px;
	margin-top: 24px;
}
.nav__wrapper {
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	height: 100vh;
	width: 65vw;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(81.5485px);
	padding-left: 32px;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1000;
}
.btn-blank {
	border: none;
	background-color: transparent;
}
.icon-close {
	margin-top: 55px;
	margin-left: 75%;
	margin-bottom: 64px;
}
.icon-burger {
	margin-top: 33px;
	margin-right: 24px;
}
.nav__item {
	display: flex;
	align-items: center;
	text-decoration: none;
	column-gap: 11px;
	font-family: "Barlow Condensed";
	color: white;
	border-bottom: 3px solid transparent;
	height: 100%;
}
.nav__item--active {
	border-right: 3px solid white;
	border-bottom: 0px;
}
.nav__number {
	font-weight: 700;
}
.nav__text {
	text-transform: uppercase;
	font-weight: 400;
}
/* For tablets: */
@media only screen and (min-width: 600px) {
	.main-header {
		margin-top: 0px;
		margin-left: 40px;
	}
	.main-navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0px;
	}
	.logo {
		margin-top: 0px;
	}
	.nav__wrapper {
		flex-direction: row;
		column-gap: 40px;
		height: 96px;
		width: auto;
		padding: 0px 48px;
		margin-left: 0px;
		position: relative;
	}
	.nav__item {
		align-items: center;
		text-decoration: none;
		column-gap: 11px;
		font-family: "Barlow Condensed";
		color: white;
		border-bottom: 3px solid transparent;
		height: 100%;

		font-size: 14px;
		line-height: 17px;
		/* identical to box height */

		letter-spacing: 2.3625px;
	}
	.nav__item--active {
		border-bottom: 3px solid white;
		border-right: 0px;
	}
}

/* For desktop: */
@media only screen and (min-width: 992px) {
	.main-header {
		margin-top: 40px;
	}
	.main-navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 55px;
	}
	.logo {
		width: 48px;
		height: 48px;
	}
	.nav__wrapper {
		flex-direction: row;
		column-gap: 50px;
		height: 96px;
		width: 59vw;
		background: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(81.5485px);
		padding-left: 123px;
		position: relative;
	}
	.nav__wrapper::before {
		content: "";
		height: 1px;
		width: 430px;
		background-color: white;
		position: absolute;
		left: -410px;
		top: calc(96px / 2);
		mix-blend-mode: normal;
		opacity: 0.25;
	}
	.nav__item {
		align-items: center;
		text-decoration: none;
		column-gap: 11px;
		font-family: "Barlow Condensed";
		color: white;
		border-bottom: 3px solid transparent;
		height: 100%;
	}
	.nav__item--active {
		border-bottom: 3px solid white;
		border-right: 0px;
	}
}
